{
    "NOTIFICATION_STATUS_COVID": "",
    "SUBSCRIBE_CONFIRMATION_QUEUE_URL": "",
    "URL_CSV_HEALTH_SECRETARY": "",
    "EMAIL_HOST": "",
    "EMAIL_PORT": "",
    "EMAIL_AUTH_USER": "",
    "EMAIL_AUTH_PASSWORD": "",
    "URL_SUBSCRIBE_CONFIRMATION_NOTIFY_STATUS_COVID": "",
    "ENDPOINT_SMS_TOTAL_VOICE": "",
    "ACCESS_TOKEN": ""
}